body{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
height: 40vh;
    background:#36d27f;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div{
    width:50%;
    height: 20vh;
    border-radius: 50px;
background: linear-gradient(145deg, #36d27f, #2db06b);
box-shadow: 30px 30px 60px #2ba765, 
            -30px -30px 60px #3ae189;
            transition: 0.2s all ease-out;
}