body {
  margin: 0;
  background:#36d27f;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
section.head {
  height: 40vh;
  display: flex;
  width: 100%;
  float: left;
  justify-content: center;
  align-items: center;
}
img[alt="www.000webhost.com"]{display:none;}
section.head div {
  text-align: center;
  align-items: center;
  width: 50%;
  color: #c3ffdf;
  font-size: 48px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 30px 30px 60px #2ba765, -30px -30px 60px #3ae189;
  transition: 0.2s all ease-out;
  text-shadow: 6px 6px 12px #2ba765, -6px -6px 12px #3ae189;
  font-weight: 900;
}
.body{
    padding-top: 10vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    height: 50vh;
}
.game-box{
  width:33.33333%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-card{
  float:left;
  text-align:center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 30px 30px 60px #2ba765, -30px -30px 60px #3ae189;
  width:60%;
  font-size:40px;
  color: #c3ffdf;
  font-weight: bold;
  transition: 0.3s all ease-out;
}
.game-card img{
  border-radius: 20px;
  width:100%;
  opacity: 0.6;
}
.game-card button{
  background:#249c5c;
  outline:none;
  color: #8bffc1;
  font-weight: bold;
  width:50%;
  border:none;
  font-size: 20px;
  border-radius: 5px;
  height: 5vh;
  cursor: pointer;
}
a{
  text-decoration: none;
  color:#8bffc1;
}